 <body>
  <nav class="navbar" id="top">
    <div class="inner">
      <a>Welcome!</a>
    </div>
  </nav>
  <header class="container">
    <section class="content">
      <h1>KelltonTech Solutions Limited</h1>
      <p class="sub-title"><strong>Peer to Peer Chat</strong>
      <p><a class="button" id="load-more-content" href="#top">Click Here to Proceed</a></p>
    <div id="more-content">
		<blockquote>
			<form #form1="ngForm" (ngSubmit)="check(form1)">
        <table align="center">
          <tr>
            <td>
              <label>Name</label>
           </td>
           <td >
             <input type="text" name="name" [(ngModel)]="user" #name="ngModel" placeholder="Enter your Name" >
           </td> 
         <tr>  
           <td>
              <label>Email ID</label>
           </td>
           <td>   
              <input type="email" name="email" [(ngModel)]="pass" #email="ngModel" placeholder="Enter your Email" >
          </td>
         </tr>
         <tr>  
           <td>
              <label>Number</label>
           </td>
           <td>   
              <input type="number" name="number" [(ngModel)]="num" #number="ngModel" placeholder="Enter your Number" >
          </td>
         </tr>
          <tr>
            <td colspan="2">
              <button type="submit" class="btn btn-primary">Chat</button>
            </td>  
          </tr>  
        </table>
			</form> 
		</blockquote>	
      </div>
    </section>
  </header>
 </body>  