<body>
	<header>
  <div id="live-chat">
		<header class="clearfix">
			<a href="#" class="chat-close">x</a>
			<h4>{{name}}</h4>
		</header>
		<div class="chat">
			<div class="chat-history">
				<div class="chat-message clearfix">
          <div *ngFor="let message of messages">
                
					<img src="http://bootdey.com/img/default-avatar.png" alt="" width="32" height="32">

					<div class="chat-message-content clearfix">
						
						<span class="chat-time">{{message.time1}}</span>
            <h5>{{message.user}} </h5>
             	  {{message.text}}
					<div class="chat-message-content clearfix">	
					</div> <!-- end chat-message-content -->
          <hr>
          </div>
          
	</div> <!-- end chat-message -->			
	<input type="text" [(ngModel)]="message" type="text" placeholder="Type your message…" autofocus>
  <button type="submit" class="message-submit" (click)="sendMessage()">Send</button>
</body>

	
